.alive {
    background-color: #7E7ECC;
}
.dead {
    background-color: #EFECE3;
}

.citizen {
    width: 25px;
    height: 25px;
    border: 1px solid #B3B3B3;
    border-radius: 4px;
    margin: 1px;
}

table {
    width: 100%;
}

.btn {
    margin-top: 25px;
    width: 100%;
}

.tip {
    font-size: 0.8em;
    margin-left: 1px;
    color: #737373;
}

.row {
    margin-top: 10px;
}
