<html ng-app="main">
    <head>
        <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="modules/main/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" ng-controller="MainCtrl as vm" ng-init="vm.init()">
            <div class="well">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="endWith">Y axis:</label>
                        <span class="tip">Max of Y axis used</span>
                        <input id="endWith" ng-model="vm.endWith" type="number" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <label for="startWith">X axis:</label>
                        <span class="tip">Max of X axis used</span>
                        <input id="startWith" ng-model="vm.startWith" type="number" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label for="cicles">Cicles:</label>
                        <span class="tip">How many times?</span>
                        <input id="cicles" ng-model="vm.cicles" type="number" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label for="delay">Delay:</label>
                        <span class="tip">In milliseconds</span>
                        <input id="delay" ng-model="vm.delay" type="number" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <label for="points">Pointers:</label>
                        <span class="tip">Specify the pointer in pattern: y,x-y,x-y,x-y,x...</span>
                        <input id="points" ng-model="vm.points" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="vm.start()" ng-hide="started" class="btn btn-primary">Start</button>
                        <button ng-click="vm.stop()" ng-show="started" class="btn btn-warning">Pause</button>
                    </div>
                </div>
            </div>
            <table>
                <tr ng-repeat="row in vm.rows">
                    <td ng-repeat="column in row">
                        <div class="citizen" ng-class="{alive: column.alive, dead: !column.alive}"></div>
                    </td>
                </tr>
            </table>
        </div>
        <script src="libs/jquery/dist/jquery.min.js"></script>
        <script src="libs/angular/angular.min.js"></script>
        <script src="modules/main/js/module.js"></script>
        <script src="modules/main/js/controller.js"></script>
    </body>
</html>
